* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  color: goldenrod;
  font-style: oblique;
}

.head {
  background-image: url("media/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

.btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  outline: none;
}

.btn:hover {
  background-color: #45a049;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  margin: 15px 200px;
  grid-auto-rows: minmax(150px, 400px);
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-weight: 600;
}

.bold-txt {
  font-weight: 700;
}

.card img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease;
}

.card img:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
}
